

body {
   
}

nav {
    background-color: #e6a9e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 50px;
}

.Menu{
    display: flex;
}

.Menu li a {
    padding: 10px 15px
} 

nav .Logo {
    
}

nav .Menu li a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-weight: bold;
}

nav .Menu li {
    list-style: none;
    padding: 5px
}

nav .Menu li:hover {
    background-color: rbg (36,36,36);
}

.search-box {
    
    background-color:#faedf9;
    height: 18px;
    padding: 7px 15px;
    border-radius: 50px;
    width: 600px;
    align-self:center
    
}


.search-box input {
    background: none;
    border: none;
    outline: none;
    width: 570px
}

.search-box a {
    color: #e6a9e1;
}